blessings==1.7
bpython==0.19
certifi==2020.6.20
chardet==3.0.4
curtsies==0.3.4
greenlet==0.4.16
idna==2.10
Pygments==2.6.1
pyTelegramBotAPI==3.7.2
requests==2.24.0
six==1.15.0
urllib3==1.25.10
wcwidth==0.2.5
